.container {
    margin-top: 100px;
    color: black;
}
#neon {
  animation: glow 1s ease-in-out infinite alternate;
font-size: 100px;
}
@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
  }
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: rgb(34, 4, 4);
  text-decoration: none;
  color: #555;
}

.bg {background-image: url("https://wallpapermemory.com/uploads/645/pac-man-background-hd-1440x960-231834.jpg");
background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-bottom: solid 3px black;
  }

.bg-2 {
    background-image: url("https://wallpaperaccess.com/full/1507729.jpg");
background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-bottom: solid 3px black;
}
.bg-3 {
    background-image: url("https://images.alphacoders.com/163/thumb-1920-163973.jpg");
background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-bottom: solid 3px black;
}
p{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 20px;
}
h2 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}