/* 
    General Styles
*/

.forgot_password_bg {
    background-image: url("https://wallpapercave.com/wp/wp6690516.jpg");
    background-color: rgba(255, 255, 255, .4);
    background-size: cover;
}

.forgot_password_box {
    background-color: white
}