/* 
    General Styles
*/

.login_box, .register_box, .forgot_password_box, .change_password_box {
    background-color: white;
}

.login_bg, .register_bg, .forgot_password_bg, .change_password_bg {
    background-image: url("https://ui8-unity-gaming.herokuapp.com/img/bg-sign-in.png");
    background-size: cover;
    background-attachment: fixed;
}